.partner_box {
  border-radius: 16px 16px 16px 4px;
}
.owner_box {
  border-radius: 16px 16px 4px 16px;
}
.text_box:hover .icon_area {
  display: flex;
}
.icon_area {
  display: none;
}
.icon_area > * {
  cursor: pointer;
}
.input_feature > * {
  cursor: pointer;
}
.inboxList::-webkit-scrollbar-thumb {
  background-color: #222426;
}
.EmojiPickerReact {
  height: 337px !important;
  width: 340px !important;
}
.glass {
  z-index: 30 !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(12.5px);
}
.gradient {
  background-color: #4e4e4e;
  background-image: -webkit-linear-gradient(
    left,
    #4e4e4e 0%,
    #2d2d2d 20%,
    #353535 40%,
    #242424 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.button_profile {
  background: linear-gradient(180deg, #fcd535 0%, #4f800c 100%);
}
.call_backgound::before {
  content: "";
  height: 100vh;
  width: 110vw;
  position: absolute;
  z-index: 10;
  background: rgb(0 0 0 / 47%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.call_btn {
  width: fit-content;
  padding: 16px;
  background: rgba(34, 36, 38, 0.6);
  backdrop-filter: blur(4px);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.call_btn:hover {
  background: rgb(95 95 96 / 60%);
}
.call_btn_active {
  background: rgb(95 95 96 / 60%) !important;
}
.time {
  background: rgba(34, 36, 38, 0.6);
  backdrop-filter: blur(4px);
}
.call_backgound_desktop::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: rgb(0 0 0 / 47%);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(8px);
}
.reaction {
  transition: 0.3s;
}
.reaction_box {
  background: #222426;
  box-shadow: 5px 5px 13px #202123, -5px -5px 13px #242729;
}

/* Tablet (md) */
@media (min-width: 768px) {
  .reaction:hover {
    transform: scale(1.5);
    top: -2px;
  }
}

/* Desktop (lg) */
@media (min-width: 1024px) {
  .reaction:hover {
    transform: scale(1.5);
    top: -2px;
  }
}
