.login_title{
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 1px;
    -webkit-text-fill-color: #FDFDFD;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: linear-gradient(94.53deg, #ECD773 9.59%, #FDFCC9 42.98%, #FFFEDD 79.28%, #C8992F 115.36%);
}
.shadow_login{
    box-shadow: 5px 5px 5px 5px rgba(5,1,5,.14), 10px 10px 10px 10px rgb(5 1 5/2%), 15px 15px 15px 15px rgba(5,1,5,0), 20px 20px 20px rgb(5 1 5/4%);
}
.select_box option{
 background: transparent;
 border: none;
}
.select_box option:hover{
    background: transparent;
}
